.el-button--primary {
    background-color: $brand-blue-7; /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, $brand-blue-7, $brand-blue-8); /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, $brand-blue-7, $brand-blue-8);
    border-color: $brand-blue-7;
    span {
        color: white;
        font-weight: 200;
        //font-family: $title-font-family;
        //text-transform: uppercase;
    }

    &:hover, &:focus {
        background-color: lighten($brand-blue-7, 5);
    }
}