$header-padding: 25px;

.app-header {
	//position: fixed;
	@include flexrow;
	@include defaultshadow;
	width: 100%;
	background: white;
	border-bottom: 1px solid $brand-gray-1;

	.title {
		@include flexcol;
		font-size: 20px;
		margin-right: 20px;
		min-height: 100%;
		padding: 0px $header-padding;
		align-items: center;
		justify-content: center;
		color: $brand-blue-7;
		font-family: $title-font-family;
		font-weight: 100;
		text-transform: uppercase;
		@include brand-blue-gradient;
		color: white;
	}
	.links {
		flex: 1;
		a {
			text-decoration: none;
			color: $brand-gray-9;
			font-weight: 300;
			margin-bottom: 0px;
			margin-top: 0px;
			padding: 0px;
			min-height: 100%;
			display: inline-block;
			padding: $header-padding;
			&:hover {
				color: $brand-blue-4;
			}
			&.router-link-active {
				font-weight: 500;
				color: $brand-blue-7;
				border-bottom: 3px solid $brand-blue-7;
			}
		}
	}
	.user-info {
		@include flexrow;
		padding-right: 2*$header-padding;
		// padding-right: $header-padding;
		align-items: center;
		cursor: pointer;
		.avatar {
			width: 30px;
			height: 30px;
			margin-right: 10px;
			background: $brand-blue-2;
		}
	}
	.invitation-info {
		@include flexrow;
		padding-left: 2*$header-padding;
		align-items: center;
		cursor: pointer;
	}
}

.invitation-container {
	@include flexrow;
	.invitation-text {
		max-width: 250px;
		margin-right: 15px;
		word-wrap: break-word;
		line-height: 1.6;
	}
	.invitation-buttons {
		@include flexrow;
		align-items: center;
		justify-content: center;
		.invite-accept-button {
			color: white;
			background-color: $brand-blue-7
		}
		.invite-accept-button:hover {
			color: $brand-blue-1;
			background-color: $brand-blue-5;
		}
	}
}

.change-language {
  display: flex;
	align-items: center;
	justify-content: center;
	// padding-right: 2*$header-padding;
	color: $brand-gray-6;
	cursor: pointer;
}

.language-picker {
	padding: 0 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 5px;
}
