{
  "extends": "airbnb-base",
  "globals": {
    "jest": true,
    "expect": true,
    "mockFn": true,
    "config": true,
    "afterEach": true,
    "beforeEach": true,
    "describe": true,
    "it": true,
    "runs": true,
    "waitsFor": true,
    "pit": true,
    "require": true,
    "xdescribe": true,
    "xit": true
  },
  "plugins": ["html"],
  "env": {
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": [2, { "allow": ["_id"] }],
    "linebreak-style": "off",
    "no-param-reassign": [2, { "props": false }],
    "arrow-parens": ["error", "as-needed"]
  }
}
