.polloption-add {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.polloption-name {
  max-width: 33%;
}

.option-list-item {
  @include defaultshadow;
  @include flexrow;
  justify-content: space-between;
}

.update-poll-form {
  @include flexcol;
}