.discover-events {
  flex: 1;
  @include flexcol;
  background: $brand-blue-1;
  .discover-filters {
    padding: 20px;
    .filter-container {
      border: 1px solid $brand-blue-1;
      padding: 5px;
      border-radius: 4px;
      @include defaultshadow;
      @include flexrow;
      flex-wrap: wrap;
      background: white;
      justify-content: flex-start;
      .event-filter {
        //background: $brand-blue-7;
        background: transparent;
        padding: 10px;
        @include flexcol;
        border-radius: 4px;
        justify-content: flex-start;
        align-items: center;
        input.google-maps-autocomplete {
          padding: 10px;
          font-size: 14px;
          border-radius: 4px;
          min-width: 350px;
          border: 1px solid $brand-gray-1;
        }
      }
      .filter-label {
        position: relative;
        padding-right: 60px;
        color: $brand-blue-7;
        font-family: $title-font-family;
        text-transform: uppercase;
        margin-bottom: 5px;
        padding-bottom: 4px;
        width: 100%;
        text-align: left;
        font-weight: 500;
        border-bottom: 1px solid $brand-blue-7;
        .clear-filter {
          border: 1px solid $brand-blue-7;
          color: white;
          font-family: $title-font-family;
          position: absolute;
          right: 0px;
          background: $brand-blue-7;
          top: 0px;
          font-size: 12px;
          border-radius: 4px;
          padding: 2px 5px;
          &:hover {
            cursor: pointer;
            color: $brand-blue-7;
            background: $brand-blue-1;
          }
          
        }

      }
    }
    
  }
  .discover-results {
    flex: 1;
    @include flexcol;
    align-items: center;
    width: 100%;
    background: $brand-blue-1;
    .results-wrapper {
      @include flexrow;
      flex-wrap: wrap;
      //align-items: center;
      //justify-content: center;
    }
  }
}
/*.discover-dialog-img {
  height: 250px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3d/London_Bridge_%289691084663%29.jpg');
  background-size: cover;
  background-position: center;
}

.discover-dialog-date {
  margin-top: 15px;
}

.discover-dialog-place {
  margin-bottom: 15px;
}

.discover-dialog-info {
  margin-bottom: 15px;
}

.discover-title {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  color: $brand-blue-7;
  font-family: $title-font-family;
  text-transform: uppercase;
  border-bottom: 2px solid $brand-blue-7;
  margin-bottom: 5px;
}

.discover-wrapper {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  padding: 55px;
  background-color: white;
}

.discover-recommended {
  margin-bottom: 20px;
  max-width: 100%;
}

.discover-category-title {
  margin-top: 10px;
  color: $brand-blue-7;
  font-family: $title-font-family;
  text-transform: uppercase;
}

//carousel
$duration: 450ms;
$tileWidth: 400px;
$tileHeight: ($tileWidth / (16/9));
$growFactor: 1.09; // 1.5 times the original size
$moveRight: 100% * ($growFactor - 1);
.VueCarousel-inner {
  margin-bottom: 15px;
  margin-top: 15px;
}

.discover-tile {
  position: relative;
  display: inline-block;
  //min-width: $tileWidth;
  //height: $tileHeight;
  margin-right: 0px;
  font-size: 20px;
  cursor: pointer;
  transition: $duration all;
  transform-origin: center left;
  .activity-wrapper {
    padding: 4px;
  }
}

.discover-intrest {
  padding: 0px 15px;
  margin-right: -15px;
  margin-left: -15px;
}
.VueCarousel-navigation-button {
  color: $brand-blue-7 !important;
}

.VueCarousel-inner:hover .discover-tile {
  opacity: 0.3;
  &:hover {
    transform: scale($growFactor);
    opacity: 1;
  }
}

.discover-tile:hover ~ .discover-tile {
  transform: translate3d($moveRight, 0, 0);
}*/