.group-detail-container {
  position: relative;
  .sidebar-wrapper {
    padding-top: 20px;
    background: white;
  }
  .group-info-panel {
    width: 100%;
  }
  .group-wall {
    background: white;
    padding: 15px;
  }
  .group-panels {
    margin-top: 10px;
    @include flexrow;
    flex-wrap: wrap;
  }
  .no-group-selected {
    @include flexcol;
    background: white;
    align-items: center;
    justify-content: center;
  }


  .info-panel-wrapper {
    min-width: 100%;
    @include flexrow;
    .activity-wrapper {
      max-width: 33%;
    }
    &:nth-of-type(2n + 1) {
      padding-left: 0;
    }
    &:nth-of-type(2n + 0) {
      padding-right: 0;
    }
  }
}
