.main-container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-gap: 20px;

  ol {
    list-style: none;
    padding: 0;
    li {
      min-width: 100%;
      //background-color: $brand-gray-1;
      border-bottom: solid 1px $brand-gray-1;
      padding: 20px 10px;
      margin: 5px 15px;
      text-align: center;
      @include flexrow;
      justify-content: space-between;
    }
  }
}
