html,
body {
  padding: 0px;
  margin: 0px;
}

html {
  min-height: 100vh;
}
body {
  min-height: 100vh;
  @include flexcol;
}

* {
  font-family: $base-font-family;
  box-sizing: border-box;
  // color: $brand-gray-9;
}

.content-container {
  @include flexrow;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  min-width: 100%;
}

.site-wrapper {
  flex: 1;
  @include flexcol;
  padding: 0;
  min-height: 100%;
}

// GOOGLE MAPS AUTOCOMPLETE Z-INDEX Should always be on top
.pac-container {
  z-index: 4000;
}
