html, body {
    padding: 0px;
    margin: 0px;
}

* {
    font-family: $base-font-family;
    box-sizing: border-box;
}

.content-container {
    @include flexrow;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    min-width: 100%;
}