@mixin flexcol {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

@mixin flexrow {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
}

@mixin defaultshadow {
    box-shadow: 0px 0px 10px $base-shadow-color;
}

@mixin mediumshadow {
    box-shadow: 0px 0px 5px rgba(20,20,20,0.15);
}

@mixin brand-blue-gradient {
    background-color: $brand-blue-8; 
    background: -webkit-linear-gradient(to right, $brand-blue-7, $brand-blue-8);
    background: linear-gradient(to right, $brand-blue-7, $brand-blue-8);
}