/* FONTS */
$base-font-family: 'Montserrat', sans-serif;
$title-font-family: 'Barlow', sans-serif;
$base-shadow-color: rgba(20, 20, 20, 0.05);

/* COLORS */
$brand-primary: #d00700;
$brand-red-6: #dd0700;
$brand-red-5: #e3342e;
$brand-red-4: #e9615c;
$brand-red-3: #ef8e8b;
$brand-red-2: #f5bbb9;
$brand-red-1: #fbe8e7;
$brand-blue-8: #2948ff;
$brand-blue-7: #396afc;
$brand-blue-6: #7197fa;
$brand-blue-5: #8aa9fa;
$brand-blue-4: #a4bcfb;
$brand-blue-3: #becffc;
$brand-blue-2: #d8e2fd;
$brand-blue-1: #f2f5fe;
$brand-gray-9: #2b2b34;
$brand-gray-8: #3c3c48;
$brand-gray-7: #494958;
$brand-gray-6: #5e5e71;
$brand-gray-5: #72728a;
$brand-gray-4: #8b8b9f;
$brand-gray-3: #a5a5b4;
$brand-gray-2: #bebec9;
$brand-gray-1: #d8d8df;
$brand-white: rgba(232, 233, 235, 1);
$brand-gray: rgba(224, 223, 213, 1);
$brand-black: rgba(49, 54, 56, 1);
$brand-orange: rgba(240, 157, 81, 1);
