/* FONTS */
$base-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Barlow', sans-serif;
$base-shadow-color: rgba(20,20,20,0.2);

/* COLORS */
$brand-primary: #D00700;
$brand-red-6: #DD0700;
$brand-red-5: #E3342E;
$brand-red-4: #E9615C;
$brand-red-3: #EF8E8B;
$brand-red-2: #F5BBB9;
$brand-red-1: #FBE8E7;
$brand-blue-8: #4861A0;
$brand-blue-7: #5D7CCD;
$brand-blue-6: #7197FA;
$brand-blue-5: #8AA9FA;
$brand-blue-4: #A4BCFB;
$brand-blue-3: #becffc;
$brand-blue-2: #D8E2FD;
$brand-blue-1: #F2F5FE;
$brand-gray-9: #2B2B34;
$brand-gray-8: #3C3C48;
$brand-gray-7: #494958;
$brand-gray-6: #5E5E71;
$brand-gray-5: #72728A;
$brand-gray-4: #8B8B9F;
$brand-gray-3: #A5A5B4;
$brand-gray-2: #BEBEC9;
$brand-gray-1: #D8D8DF;
$brand-white: rgba(232, 233, 235, 1);
$brand-gray: rgba(224, 223, 213, 1);
$brand-black: rgba(49, 54, 56, 1);
$brand-orange: rgba(240, 157, 81, 1);