/* COLORS */
$brand-purple-dark: #536ade;
$brand-black: #323545;
$brand-blue-dark: #3c457d;
$brand-blue-light: #b1bbec;
$brand-blue-lightest: #e6e8f4;
$brand-gradient-complementary: #8253de;

/* GLOBALS */
$wall-thickness: 5px;

/* FONTS */
$base-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Barlow', sans-serif;


