.user-message {
    border-radius: 4px;
    @include defaultshadow;
    background: white;
    z-index: 10;
    min-width: 50%;
    .title {
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        @include brand-blue-gradient;
        color: white;
        text-align: center;
        font-family: $title-font-family;
        font-weight: 200;
        padding: 20px 10px;
        font-size: 30px;
    }
    .message {
        padding: 30px 10px;
        text-align: center;
    }
}