.activity-wrapper {
  min-width: 33%;
  min-width: 400px;
  padding: 12px;
  cursor: pointer;
  @include flexcol;
}
.activity-container {
  @include flexcol;
  @include defaultshadow;
  flex: 1;
  //border-radius: 4px;
  border: 1px solid $brand-gray-1;
  border-radius: 5px;
  position: relative;
  .activity-group {
    position: absolute;
    border-radius: 4px;
    top: 10px;
    right: 10px;
    background: transparent;
    box-shadow: 0px 0px 15px rgba(20, 20, 20, 0.3);
    .el-tag.el-tag--primary {
      opacity: 0.9;
      font-weight: 500;
      font-family: $title-font-family;
      text-transform: uppercase;
      background: $brand-blue-7;
      //border: 1px solid $brand-gray-1;
      color: white;
    }
  }
  //min-width: 33%;
  .activity-remove {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 28px;
    height: 28px;
    @include flexrow;
    justify-content: center;
    align-items: center;
    background-color: $brand-red-4;
    border-radius: 3px;
    .fa-trash-alt {
      color: $brand-gray-9;
    }
  }
  .activity-graphic {
    border-radius: 3px;
    background-color: $brand-blue-5;
    // background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3d/London_Bridge_%289691084663%29.jpg');
    width: 100%;
    min-height: 100%;
    height: 250px;
    min-width: 250px;
    //flex: 1;
    //border-top-right-radius: 3px;
    //border-top-left-radius: 3px;
    //background-size: cover;
    background-position: center;
    &.has-graphic {
      background-size: contain;
      background-repeat: repeat;
      background-size: 120%;
      background-color: white;
    }
    
  }
  .activity-bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    min-width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: rgba($brand-blue-1, 0.94);
    //border-top: 1px solid $brand-gray-1;
    padding: 12px;
    @include flexrow;
    align-items: center;
    .activity-toggle {
      @include flexcol;
      justify-content: center;
      input {
        width: 20px;
        height: 20px;
      }
    }
    .activity-details {
      flex: 1;
      @include flexcol;
      align-items: flex-start;
      .activity-title {
        font-family: $title-font-family;
        @include flexrow;
        //text-transform: uppercase;
        font-weight: 500;
        color: $brand-blue-7;
        margin-bottom: 5px;
      }
      .activity-date {
        font-family: $title-font-family;
        //color: $brand-gray-6;
        font-weight: 300;
      }

      .activity-location {
        font-size: 0.9em;
        font-family: $title-font-family;
        font-weight: 200;
      }
    }
  }
}
