.activity-wrapper {
  min-width: 33%;
  padding: 12px;
}
.activity-container {
  @include flexcol;
  @include defaultshadow;
  //border-radius: 4px;
  border: 1px solid $brand-gray-1;
  //min-width: 33%;
  .activity-graphic {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3d/London_Bridge_%289691084663%29.jpg');
    width: 100%;
    height: 200px;
    //border-top-right-radius: 3px;
    //border-top-left-radius: 3px;
    background-size: cover;
    background-position: center;
  }
  .activity-bottom {
    background: white;
    border-top: 1px solid $brand-gray-1;
    padding: 12px;
    @include flexrow;
    .activity-toggle {
      @include flexcol;
      justify-content: center;
      input {
        width: 20px;
        height: 20px;
      }
    }
    .activity-details {
      flex: 1;
      @include flexcol;
      align-items: flex-end;
      .activity-owner {
        font-size: 18px;
        margin-bottom: 5px;
        font-family: $title-font-family;
      }
      .activity-date {
        font-family: $title-font-family;
        color: $brand-gray-6;
        font-weight: 200;
      }
    }
  }
}
