.event-wrapper {
  @include flexcol;
  background-color: $brand-blue-1;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}
.event-content {
  border-radius: 4px;
  //@include defaultshadow;
  width: 80%;
  max-width: 1000px;
  
  @include flexcol;
  margin-left: auto;
  margin-right: auto;
  // background-color: white;
  padding: 30px;
  .banner-image {
    margin-bottom: 20px;
  }
  .admin-edit {
     .fa-edit {
       padding-right: 5px;
     }
  }
  .event-generic {
    margin: 20px 20px;
  }
  .event-general-info {
    display: grid;
    grid-template-columns: 25px auto;
    grid-gap: 10px;
  }
  .fa-calendar-alt, .fa-users, .fa-map-marker, .fa-bullhorn, .fa-user-secret, .fa-tags {
    color: $brand-blue-7;
    @include flexrow;
    justify-content: center;
    align-items: center;
  }
}