.location-tracker {
  width: 100%;
  height: 400px;
  //padding: 50px;
  background: white;
  //@include defaultshadow;
  border-radius: 4px;
  .vue-map-container {
    width: 100%;
    height: 100%;
  }
}
//style="top: 339px;position: fixed; padding: 10px; background: black; color: white; z-index: 50; display: block;"
.location-map {
  width: 100%;
  height: 100%;
  .current-user {
    z-index: 50;
    padding: 5px;
    font-size: 11px;
    font-family: $title-font-family;
    text-transform: uppercase;
    font-weight: 200;
    border-radius: 4px;
    position: fixed;
    background: $brand-blue-7;
    color: white;
    box-shadow: 0px 0px 10px rgba(20,20,20,0.2);
  }
}