.chat-wrapper {
  @include defaultshadow;
  @include flexcol;
  align-items: center;
  padding: 15px;
  background: white;
}
.chat-element {
  @include flexcol;
  align-items: center;
  text-align: center;
  font-size: 0.7em;
  position: relative;
  img {
    max-height: 100%;
    max-width: 100%;
  }
  .chat-group-name {
    max-width: 70px;
    word-wrap: break-word;
  }
  .notification {
    @include flexrow;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 44px;
    left: 44px;
    background-color: $brand-blue-2;
    border: solid 0px $brand-blue-3;
    color: $brand-blue-5;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    font-weight: bold;
  }
  .chat-window {
    @include mediumshadow;
    position: absolute;
    top: 0;
    left: -275px;
    width: 250px;
    height: 300px;
    border-radius: 4px;
    //border: solid 1px $brand-blue-3;
    background-color: white;
    z-index: 999;
    .messages {
      @include flexcol;
      height: 89%;
      overflow-y: scroll;
      .message {
        margin: 5px;
        max-width: 60%;
        .message-name {
          font-weight: bold;
        }
        .message-content {
          border-radius: 8px;
          padding: 8px;
          word-wrap: break-word;
        }
      }
      .message-received{
        align-self: flex-start;
        text-align: left;
        .message-name {
          text-align: left;
        }
        .message-content{
          background-color: $brand-blue-7;
          color: white;
        }
      } 
      .message-sent {
        align-self: flex-end;
        .message-content {
          background-color: $brand-gray-1;
        }
      }
    }
    .message-box {
      @include flexrow;
      justify-content: center;
      height: 11%;
      position: relative;
      background: $brand-blue-1;
      border-top: solid 1px $brand-blue-1;
      .message-input {
        width: 87%;
        background: $brand-blue-1;
        height: 100%;
        padding: 0;
        border: none;
      }
    }
  }
  .chat-arrow {
    position: absolute;
    top: 30px;
    z-index: 20;
    left: -26px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    border-radius: 3px;
  }
}
.chat-bubble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $brand-gray-5;
  @include flexrow;
  @include defaultshadow;
  justify-content: center;
  align-items: center;
  //border: solid 1px $brand-blue-3;
  overflow: hidden;
  margin: 10px 10px 0 10px;
  cursor: pointer;
}
.new-chat {
  border: none;
  border-radius: 4px;
  background-color: $brand-blue-2;
  i {
    color: $brand-blue-5;
  }

  &:hover {
    background-color: $brand-blue-3;
    i {
      color: $brand-blue-6;
    }
  }
}
