.chat-wrapper {
  @include defaultshadow;
  @include flexcol;
  align-items: center;
  padding: 15px;
  background: white;
}
.chat-element {
  @include flexcol;
  align-items: center;
  text-align: center;
  font-size: 0.7em;
  position: relative;
  img {
    max-height: 100%;
    max-width: 100%;
  }
  .chat-group-name {
    max-width: 70px;
    word-wrap: break-word;
  }
  .notification {
    @include flexrow;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 44px;
    left: 44px;
    background-color: $brand-red-2;
    border: solid 0px $brand-red-3;
    color: $brand-blue-5;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    font-weight: bold;
  }
  .chat-window {
    @include mediumshadow;
    @include flexcol;
    position: absolute;
    top: 0;
    left: -275px;
    width: 250px;
    height: 300px;
    border-radius: 4px;
    padding-top:25px;
    //border: solid 1px $brand-blue-3;
    background-color: white;
    z-index: 999;
    .window-title {
      @include flexcol;
      justify-content: center;
      height: 25px;
      position: absolute;
      width: 100%;
      top:0;
      left:0;
      background-color: $brand-blue-7;
      font-family: $title-font-family;
      text-transform: uppercase;
      color: white;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    .messages {
      @include flexcol;
      flex: 1;
      overflow-y: scroll;
      padding: 10px 7px;
      .message {
        margin: 2px;
        max-width: 60%;
        &:last-of-type{
          padding-bottom: 10px;
        }
        .message-name {
          //font-weight: bold;
          font-family: $title-font-family;
        }
        .message-content {
          border-radius: 8px;
          padding: 6px;
          word-wrap: break-word;
        }
      }
      .message-received{
        align-self: flex-start;
        text-align: left;
        .message-name {
          text-align: left;
        }
        .message-content{
          background-color: $brand-blue-5;
          color: white;
        }
      } 
      .message-sent {
        align-self: flex-end;
        text-align: left;
        .message-content {
          background-color: $brand-gray-1;
        }
      }
    }
    .message-box {
      @include flexrow;
      justify-content: center;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      
      position: relative;
      background: $brand-blue-1;
      border-top: solid 1px $brand-gray-2;
      .message-input {
        .el-textarea__inner {
          margin:0px;
          border: none;
          font-size: 12px;
        }
        width: 100%;
      
        background: transparent;
        height: 100%;
        padding: 0;
        
      }
    }
  }
  .chat-arrow {
    position: absolute;
    top: 30px;
    z-index: 20;
    left: -26px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    border-radius: 3px;
  }
}
.chat-bubble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $brand-gray-1;
  @include flexrow;
  @include defaultshadow;
  justify-content: center;
  align-items: center;
  //border: solid 1px $brand-blue-3;
  overflow: hidden;
  margin: 10px 10px 0 10px;
  cursor: pointer;
}
.new-chat {
  border: none;
  border-radius: 4px;
  background-color: $brand-blue-2;
  i {
    color: $brand-blue-5;
  }

  &:hover {
    background-color: $brand-blue-3;
    i {
      color: $brand-blue-6;
    }
  }
}
